.menu{
    width: 800px;
    overflow: hidden;
    /* border-bottom: 2px solid #17609a; */
    padding-bottom: 25px;
}
.menu ul li {
    float: left;
    width: 300px;
    min-height: 30px;
}
.menu ul li .name{
    font-weight: bold;
    width: 100px;
    display: inline-block;
    font-size: 15px;
}
.menu ul li .text{
    display: inline-block;
    vertical-align: text-top;
    width: 190px;
    word-break: break-all;
    font-size: 14px;
}
.list p{
    margin-bottom: 25px;
}

